<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header('List of Reviews')">
</head>
<body>
<div th:replace="fragments/navbar :: mainNavbar"></div>
<!--Added this div to have a nav bar but it needs to be fixed.-->
<div th:each="review : ${concertReviews}">
    <h1 th:text="${review.title}"></h1>
    <p th:text="${'By: '+review.getUser().getUsername()}"></p>
    <p th:text="${review.description}"></p>
    <a class="btn btn-warning" th:href="@{/reviews/{id}/edit(id=${review.id})}">Edit this post</a>
    <a class="btn btn-success" th:href="@{/reviews/{id}/(id=${review.id})}">View</a>

    <!--I had an error saying property of field 'id' cannot be found on null-->
    <!--The problem was that in the code above I had ${reviews.id} it needs to be ${review.id}-->
</div>

<footer th:include="fragments/footer :: footer"></footer>

</body>
</html>