<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header('Create')">
</head>
<body>

<div th:replace="fragments/navbar :: mainNavbar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form th:action="@{/reviews/create}" method="post" th:object="${post}">
                Title:
                <input class="form-control" th:field="*{title}" />
                <br/>
                <br/>
                Description:
                <textarea class="form-control" th:field="*{description}"></textarea>
                <!--Change to text area above-->
                <br />
                <input type="submit"/>
            </form>
        </div>
    </div>
</div>


<footer th:include="fragments/footer :: footer"></footer>

</body>
</html>