<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header('Edit')">
</head>
<body>
<div th:replace="fragments/navbar :: mainNavbar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form th:action="@{/reviews/{id}/edit(id=${review.id})}" method="post" th:object="${review}" >
                <!--I was getting an error after clicking the edit button. I changed the th:object="${reviews}-->
                <!--To th:object="${review}-->
                Title:<br />
                <input class="form-control" th:field="*{title}" />
                <br />
                Description:<br />
                <input class="form-control" th:field="*{description}" />
                <br />
                <input class="btn btn-block btn-success" type="submit" value="Save"/>
            </form>

            <!--delete button-->
            <form method="post" th:action="@{/reviews/{id}/delete(id=${review.id})}">
                <input type="submit" class="btn btn-block btn-danger" value="Delete This Post" />
            </form>
        </div>
    </div>
</div>


<footer th:include="fragments/footer :: footer"></footer>

</body>
</html>