<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header('Edit')">
</head>
<body>
<div th:replace="fragments/navbar :: mainNavbar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <form class="form-group" th:action="@{/concerts/{id}/edit(id=${concert.id})}" method="post" th:object="${concert}" enctype="multipart/form-data">
                <h1 class="text-center">Edit a Concert</h1>
                Title:<br />
                <input class="form-control" th:field="*{title}" />
                <br/>
                Description:<br />
                <textarea class="form-control" th:field="*{description}" style="height:130px;"></textarea>
                <br/>
                Price:<br />
                <input id="price" class="form-control" th:field="*{price}" />
                <br/>
                Genre:<br />
                <input class="form-control" th:field="*{genre}" />
                <br/>
                Location:<br />
                <input class="form-control" th:field="*{location}" />
                <br/>
                Date and Time:<br />
                <!--calendar plugin-->
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" name="datetime" th:value="${concert.getFormattedDateTimeForInputs()}" required="required" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar">&nbsp;Choose Date</i></div>

                        </div>
                    </div>
                </div>

                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker();
                    });
                </script>
                <!--end calendar plugin-->
                <br />
                <!--picture upload-->
                <label for="image">Upload a file!</label>
                <input class="form-control" id="image" name="image" type="file" multiple="multiple" />
                <!--end picture upload-->

                <br />
                <input class="btn btn-block btn-success" type="submit" value="Save"/>
            </form>

            <!--delete button-->
            <form method="post" th:action="@{/concerts/{id}/delete(id=${concert.id})}">
                <input type="submit" class="btn btn-block btn-danger" value="Delete This Post" />
            </form>
        </div>
    </div>
</div>


<footer th:include="fragments/footer :: footer"></footer>


</body>
</html>