<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header('List of Concerts')">
</head>
<body>
<div th:replace="fragments/navbar :: mainNavbar"></div>
<!--Added this div to have a nav bar but it needs to be fixed.-->
<div class="container">
    <div class="row">
        <div class="offset-md-4">
            <!--first col-->
        </div>
        <div class="col-md-4">
            <div th:each="concert : ${list_of_concerts}">
                <h1 th:text="${concert.title}"></h1>
                <p th:text="${concert.description}"></p>
                <p th:text="${concert.price}"></p>
                <p th:text="${concert.genre}"></p>
                <p th:text="${concert.location}"></p>
                <p th:text="${concert.getFormattedDatetime()}"></p>
                <a class="btn btn-warning" th:href="@{/concerts/{id}/edit(id=${concert.id})}">Edit this concert</a>
            </div>
        </div>
    </div>

</div>

<footer th:include="fragments/footer :: footer"></footer>

</body>
</html>