<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-header('List of Concerts')">
</head>
<body>
<div th:replace="fragments/navbar :: mainNavbar"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <!--content-->
            <div th:each="concert : ${list_of_concerts}">
                <img class="image-fluid" th:src="'/uploads/images' + ${map.get(concert).get(0)}" />
                <h1 th:text="${concert.title}"></h1>
                <p th:text="${concert.description}"></p>
                <p th:text="${concert.price}"></p>
                <p th:text="${concert.genre}"></p>
                <p th:text="${concert.location}"></p>
                <p th:text="${concert.getFormattedDatetime()}"></p>
                <a class="btn btn-warning" th:href="@{/concerts/{id}/edit(id=${concert.id})}">Edit concert</a>
                <a class="btn btn-success" th:href="@{/concerts/{id}/(id=${concert.id})}">View</a>
                <a class="btn btn-primary" th:href="@{/reviews/concertReviews/{id}/(id=${concert.id})}">Reviews</a>
                <br /><br />
            </div>
        </div>
    </div>
</div>


<footer th:include="fragments/footer :: footer"></footer>

</body>
</html>